@font-face {
	font-family: mickey-webfont;
	src: url('../font/mickey-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

h1,h3 {
	font-family: mickey-webfont;
	height: 100px;
	width: 100%;
	text-align: center;
	font-weight: bold;
	position: relative;
}

div.contain {
	max-width: 780px;
	height: auto;
	position: relative;

	margin-right: auto;
	margin-left: auto;
	
	background-color: black;
	padding: 5px;
}

img {
	width: 120px;
	height: 120px;
	margin: 5px;
	display: inline;
}